<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <header th:replace="header::html"></header>
</head>
<body>
<table class="layui-hide" id="test"></table>
</body>
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/users'
            ,request: {
                pageName: 'start' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,limits: [3,5,10,15,20,30]
            ,cols: [[
                {field:'id', width:180, title: 'ID', sort: true}
                ,{field:'name', width:180, title: '用户名'}
                ,{field:'password', width:180, title: '密码'}
            ]]
            ,page: true
        });
    });
</script>

</html>